:root {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #111827;
  --border: #374151;
  --card: #1f2937;
  --accent: #38bdf8;

  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text);
  background: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    width:100%;
    min-height:100vh;
}

body{
    background:#111827;
    color:white;
    overflow-x:hidden;
}

#root{
    width:100%;
    min-height:100vh;
}

a{
    color:inherit;
    text-decoration:none;
}

button{
    cursor:pointer;
    font-family:inherit;
}

input,
select,
textarea{
    font-family:inherit;
}